<button onclick="location.href='/api/logout'">logout</button>
<button onclick="location.href='/api/crearpartido'">crear partido</button>
<button onclick="location.href='/api/miagenda'">mi agenda</button>
<h1>esto es el home</h1>
<hr>
<hr>
<h1>{{matches}}</h1>
