<h1>posponer partido</h1>

<h4>ingrese nueva fecha y hora</h4>
<form action="/api/postergarpartido" method="post">
    <input type="datetime-local" name="date">
    <input type="submit" value="postergar partido">
</form>